.modal_content {
  display: inline-block;
}
.specificFlooddata_modal {
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  left: 40%;
}
.accordion {
  height: 20vh;
}
.modal_drag_handle {
  cursor: move;
}
