body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: rgb(254, 254, 252);
    overflow-x: 0;
    
}
.heading{
    color: rgb(71, 71, 70);
    pointer-events: none;
    font-weight: 1000;
}

.navbar-brand{
    float: right;
}
.new_flood {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover{
    color: rgb(106, 104, 102);
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .text {
  color: rgb(106, 104, 102);
  font-size: 23px;
  font-weight: 700;
  pointer-events: none;
}
.form-group .text-head {
  color: rgb(106, 104, 102);
  font-weight: 500;
}
.button {
  width: 300px;
  margin-top: 13px;
}
.button:hover{
    background-color: rgb(196, 195, 195);
}
.form-group input {
  width: 300px;
}
.dropdown {
  width: 300px;
  margin-top: 15px;
}
 .dropdown-btn {
  width: 100%;
  height: 33px;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 4px 7px;
  border-radius: 6px;
}
.dropdown-content {
  width: 100%;
  height: auto;
  background-color: aliceblue;
  color: black;
  padding: 4px 7px;
  border-radius: 6px;
  margin-top: 5px;
}
.dropdown-item:hover {
  background-color: rgb(195, 196, 197);
}
.twittable {
    width: 100%;
    table-layout: fixed;
  }
  
  .twittable th,
  .twittable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .twittable td:nth-child(n+6) {
    display: none;
  }
  
  @media (max-width: 768px) {
    .twittable td:nth-child(n+2) {
      display: none;
    }
    .twittable td:nth-child(n+6) {
      display: table-cell;
    }
  }
  